### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [2]:
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [3]:
# Calculate the total number of schools
total_schools = len(school_data_complete["school_name"].unique())
total_schools

15

In [4]:
# Calculate the total number of students
total_students = school_data_complete["Student ID"].count()
total_students

39170

In [5]:
# Calculate the Total Budget
total_budget = school_data["budget"].sum()
total_budget

24649428

In [6]:
# Calculate the average math score
avg_math = school_data_complete["math_score"].mean()
avg_math

78.98537145774827

In [7]:
# Calculate the average reading score
avg_reading = school_data_complete["reading_score"].mean()
avg_reading

81.87784018381414

In [8]:
# Calculate passing Math percent
passMath= school_data_complete[(school_data_complete["math_score"] >= 70)].count()["Student ID"]
passMathPercent = passMath / float(total_students) * 100
passMathPercent

74.9808526933878

In [9]:
# Calculate passing Reading percent
passReading = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["Student ID"]
passReadingPercent = passReading / float(total_students) * 100
passReadingPercent

85.80546336482001

In [10]:
# Calculate overall passing percent
passMath_Reading = school_data_complete[(school_data_complete["math_score"] >= 70) 
                                                  & (school_data_complete["reading_score"] >= 70)].count()["Student ID"]

overall_passing = passMath_Reading /  float(total_students) * 100
overall_passing

65.17232575950983

In [11]:
#Create new dataframe to hold the district summary results
district_summary = pd.DataFrame({"Total Schools": [total_schools], 
                                 "Total Students": [total_students], 
                                 "Total Budget": [total_budget],
                                 "Average Math Score": [avg_math], 
                                 "Average Reading Score": [avg_reading],
                                 "% Passing Math": [passMathPercent],
                                 "% Passing Reading": [passReadingPercent],
                                 "% Overall Passing": [overall_passing]})

district_summary = district_summary[["Total Schools", "Total Students", "Total Budget",
                                     "Average Math Score", 
                                     "Average Reading Score",
                                     "% Passing Math",
                                     "% Passing Reading",
                                     "% Overall Passing"]]

district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [12]:
# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [13]:
# Determine the School Type
school_types = school_data_complete.set_index(["school_name"])["type"]

In [14]:
# Determine number of students per school
students_per_school = school_data_complete["school_name"].value_counts()

In [15]:
#Determine total budget per school
budget_per_school = school_data_complete.groupby(["school_name"]).mean()["budget"]

In [16]:
#Determine total budget per student for each school
budget_per_student = budget_per_school / students_per_school

In [17]:
# Calculate the average math score per school
avg_school_math = school_data_complete.groupby(["school_name"]).mean()["math_score"]

In [18]:
# Calculate the average reading score per school
avg_school_reading = school_data_complete.groupby(["school_name"]).mean()["reading_score"]

In [19]:
#Determine students that passed math, reading and both per school to calc percentages
studentsPassingMath= school_data_complete[(school_data_complete["math_score"] >= 70)]
studentsPassingReading= school_data_complete[(school_data_complete["reading_score"] >= 70)]
studentsPassingBoth = school_data_complete[(school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)]

In [20]:
#studentsPassingBoth

In [21]:
#Calc passing percentages for math, reading, and both per school
schoolPassingMath = studentsPassingMath.groupby(["school_name"]).count()["Student ID"] / students_per_school * 100
schoolPassingReading = studentsPassingReading.groupby(["school_name"]).count()["Student ID"] / students_per_school * 100
schoolPassingBoth = studentsPassingBoth.groupby(["school_name"]).count()["Student ID"] / students_per_school * 100

In [22]:
#schoolPassingBoth

In [23]:
#Create new dataframe for the school summary results
school_summary = pd.DataFrame(
                              {"School Type": [school_types], 
                               "Total Students": [students_per_school], 
                               "Total School Budget": [budget_per_school],
                               "Per Student Budget": [budget_per_student],
                               "Average Math Score": [avg_school_math], 
                               "Average Reading Score": [avg_school_reading],
                               "% Passing Math": [schoolPassingMath],
                               "% Passing Reading": [schoolPassingReading],
                               "% Overall Passing": [schoolPassingBoth]}
)

school_summary = school_summary[["School Type",
                                 "Total Students",
                                 "Total School Budget",
                                 "Per Student Budget",
                                 "Average Math Score", 
                                 "Average Reading Score",
                                 "% Passing Math",
                                 "% Passing Reading",
                                 "% Overall Passing"]]

school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,school_name Huang High School District Hua...,Bailey High School 4976 Johnson High Sch...,school_name Bailey High School 3124928.0...,Bailey High School 628.0 Cabrera High Sc...,school_name Bailey High School 77.048432...,school_name Bailey High School 81.033963...,Bailey High School 66.680064 Cabrera Hig...,Bailey High School 81.933280 Cabrera Hig...,Bailey High School 54.642283 Cabrera Hig...

In [ ]:
#Provided outcome below from starter code

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [ ]:
school_performance = school_summary.sort_values("% Overall Passing")
school_performance.head()

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type